# Ignore environment files
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
venv/
.venv/

# Virtual environment directories
ENV/
env.bak/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.db

# macOS
.DS_Store

# pytest
.pytest_cache/
